section(data-background="#000")
    img(src="img/greensock-logo.gif", alt="Greensock" style="margin-right:90px")
    h2.main-title Make them Move!
    h4.subtitle
        | Playing with 
        span.highlight-item Greensock