section
    h4 Tudo junto!
    <p data-height="387" data-theme-id="11319" data-slug-hash="zBmxGy" data-default-tab="result" data-user="willianjusten" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/willianjusten/pen/zBmxGy/">SplitText with stagger and cycle</a> by Willian Justen de Vasconcellos (<a href="http://codepen.io/willianjusten">@willianjusten</a>) on <a href="http://codepen.io">CodePen</a>.</p>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>