section
    h3 Links
    ul
        li
            a(href="https://ihatetomatoes.net/wp-content/uploads/2015/08/GreenSock-Cheatsheet-2.pdf") GreenSock Cheat Sheet
        li
            a(href="http://greensock.com/learning/") Greensock Learning
        li
            a(href="https://ihatetomatoes.net/product/greensock-101/?ref=5") Curso Greensock - I Hate Tomatoes
        li
            a(href="http://codepen.io/GreenSock/") Codepen do Greensock