section
    h3 O que é GSAP?
    ul.list
        li.fragment Significa GreenSock Animation Platform
        li.fragment Um conjunto de ferramentas para criar animações de alta performance em JS
        li.fragment Usado por grandes marcas no mundo todo:
    img.fragment(src="img/brands.png", alt="")