section
    h3 Partes do GSAP
    ul
        li
            a(href="http://www.greensock.com/tweenlite") TweenLite
        li
            a(href="http://www.greensock.com/tweenmax") TweenMax
        li
            a(href="http://www.greensock.com/timelinelite") TimelineLite
        li
            a(href="http://www.greensock.com/timelinemax") TimelineMax
        li
            a(href="http://greensock.com/plugins/")
                | Plugins: 
                span.white css, bezier, attr...
        li
            a(href="http://greensock.com/ease-visualizer")
                | Eases: 
                span.white Elastic, Bounce, Rough, Stepped...
        li
            a(href="http://www.greensock.com/club")
                | Bonus: 
                span.white SplitText, MorphSVG, DrawSVG...