section
    h3 Por que usar GSAP?
    <p data-height="302" data-theme-id="11319" data-slug-hash="yhEmn" data-default-tab="result" data-user="GreenSock" data-embed-version="2" class="codepen">See the Pen <a href="https://codepen.io/GreenSock/pen/yhEmn/">GreenSock Home Page Animation</a> by GreenSock (<a href="http://codepen.io/GreenSock">@GreenSock</a>) on <a href="http://codepen.io">CodePen</a>.</p>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>