section
    p TweenMax.
        span.highlight-item staggerFromTo
        | (target, time, {from}, {to}, stagger)
    <p data-height="300" data-theme-id="11319" data-slug-hash="WxgGbd" data-default-tab="js,result" data-user="willianjusten" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/willianjusten/pen/WxgGbd/">TweenMax.staggerFromTo()</a> by Willian Justen de Vasconcellos (<a href="http://codepen.io/willianjusten">@willianjusten</a>) on <a href="http://codepen.io">CodePen</a>.</p>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>