section
    h4 TimeLineMax Methods
    ul.text-left
        li.highlight-item play()
        li.highlight-item pause()
        li.highlight-item reverse()
        li.highlight-item resume()
        li.highlight-item restart()