section
    h4 Veja mais exemplos
    <p data-height="300" data-theme-id="11319" data-slug-hash="VjWWZO" data-default-tab="result" data-user="chrisgannon" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/chrisgannon/pen/VjWWZO/">I DESIGN WITH CODE ❤</a> by Chris Gannon (<a href="http://codepen.io/chrisgannon">@chrisgannon</a>) on <a href="http://codepen.io">CodePen</a>.</p>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    a(href="http://codepen.io/chrisgannon") http://codepen.io/chrisgannon
