doctype html
html
    include inc/head
    body
        .reveal
            .slides
                include ../slides/folder
                include ../slides/about
                include ../slides/jobs
                include ../slides/hora-do-show
                include ../slides/flash
                include ../slides/old-gsap
                include ../slides/jobs-flash
                include ../slides/new-gsap
                include ../slides/pq-gsap
                include ../slides/nunca-ouvi
                include ../slides/awwwards
                include ../slides/site-conceitual
                include ../slides/brands
                include ../slides/cases
                include ../slides/case-waaark
                include ../slides/case-cuberto
                include ../slides/case-jetlag
                include ../slides/designer-pedindo
                include ../slides/nao-vai-dar
                include ../slides/que-num-vai-dar
                include ../slides/desolado
                include ../slides/aprendendo
                include ../slides/partes
                include ../slides/to
                include ../slides/from
                include ../slides/stagger
                include ../slides/staggerFromTo
                include ../slides/juntando-tudo
                include ../slides/timeline
                include ../slides/timelineMax
                include ../slides/timelineMax-methods
                include ../slides/timelineMax-working
                include ../slides/veja-mais
                include ../slides/thanks
        include inc/scripts
