doctype html
html
    include inc/head
    body
        .reveal
            .slides
                include ../slides/folder
                include ../slides/about
                include ../slides/jobs
                include ../slides/hora-do-show
                include ../slides/flash
                include ../slides/old-gsap
                include ../slides/jobs-flash
                include ../slides/new-gsap
                include ../slides/oq-e-gsap
                include ../slides/thanks
        include inc/scripts
