doctype html
html
    include inc/head
    body
        .reveal
            .slides
                include ../slides/folder
                include ../slides/about
                include ../slides/jobs
                include ../slides/hora-do-show
                include ../slides/flash
                include ../slides/old-gsap
                include ../slides/jobs-flash
                include ../slides/new-gsap
                include ../slides/pq-gsap
                include ../slides/awwwards
                include ../slides/brands
                include ../slides/cases
                include ../slides/case-waaark
                include ../slides/case-cuberto
                include ../slides/case-jetlag
                include ../slides/nao-vai-dar
                include ../slides/aprendendo
                include ../slides/partes
                include ../slides/thanks
        include inc/scripts
