doctype html
html
    include inc/head
    body
        .reveal
            .slides
                include ../slides/folder
                include ../slides/about
                include ../slides/jobs
                include ../slides/thanks
        include inc/scripts
