head
    meta(charset="UTF-8")
    title Make them Move! Playing with Greensock - Front in BH 16
    meta(name="description" content="Uma apresentação sobre a mais importante biblioteca de animação para web, Greensock.")
    meta(property="og:type" content="website")
    meta(property="og:image" content="img/folder-img.png")
    meta(property="og:description" content="Uma apresentação sobre a mais importante biblioteca de animação para web, Greensock.")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    script(src="js/vendor/reveal.min.js")